# Workaround of IntelliSense malfunction to unplugin-vue-components for pnpm users
# See https://github.com/antfu/unplugin-vue-components/issues/477#issuecomment-1211069582
public-hoist-pattern[]=@vue/runtime-core